.productPage {
  padding: 50px;
}
.proudct1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  padding: 0px;
}
.productBtn {
  text-align: center;
  background-color: rgb(164, 164, 164);
  width: 150px;
  font-weight: 700;
  margin: auto;
  border-radius: 20px;
  padding: 5px 10px;
  color: rgb(4, 9, 101);
}
.productHeading {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: bolder;
  color: #0f3c6c;
}
.productcontainer {
  /* text-align: center; */
  padding: 10px;
  width: 500px; /* Set the desired width for the slide */
  height: 500px; /* Add padding to create space around images */
  display: flex;
  justify-content: center;
  align-items: center;
}

img.productIMG{
  border: red;
}
@media (max-width: 320px) {
  .productcontainer {
    width: 500px; /* Set the desired width for the slide */
    height: 500px; /* Add padding to create space around images */
  }
}
